@import "compass";
@import "modules/cerulean"; 
@import "partials/body";
@import "partials/menu";
@import "partials/header";
@import "partials/content";
@import "partials/buttons";
@import "partials/typography";
@import "modules/spinner"; 
@import "modules/pure-table";
.content {
    margin: 0 auto;
    width: 70%;
    margin-bottom:50px;
    h1 {
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    h2 {
        color:rgb(75, 75, 75);
        margin:50px 0 20px 0;
        font-weight:bold;
    }
    p {
        line-height: 1.6em;
        font-size: 115%;
    }
}
@media (max-width: 767px) {
    #headerMenu {
        position: relative;
    }
    #headerMenu ul {
        text-align: center;
    }
    #headerMenu a {
        font-size:80%;
    }

    .content {
        width: 95%;
    }
}
