/* line 1, ../../sass/partials/_body.scss */
body {
  background: white;
  color: #555555;
  font-size: 14px;
}

 /*

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04519b), color-stop(60%, #033c73), to(#02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(top, #04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
  border-bottom: 1px solid #022241;

  */
/* line 14, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-primary {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33a6e8), color-stop(60%, #1993d9), color-stop(100%, #1787c7));
  background-image: -webkit-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -moz-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -o-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
}
/* line 18, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-primary:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1787c7), color-stop(60%, #1993d9), color-stop(100%, #33a6e8));
  background-image: -webkit-linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
  background-image: -moz-linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
  background-image: -o-linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
  background-image: linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
}
/* line 21, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-primary li.pure-menu-active {
  background: #178acc;
}

/* line 25, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-open.pure-menu-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04519b), color-stop(60%, #033c73), color-stop(100%, #02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  color: white;
}

/* line 30, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-primary a {
  color: white;
}
/* line 33, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-primary a:hover {
  color: white;
  background: #178acc;
}

/* line 39, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse a {
  color: white;
}
/* line 42, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse a:hover {
  color: white;
  background: #022241;
}
/* line 46, ../../sass/partials/_menu.scss */
.pure-menu.pure-menu-inverse li.pure-menu-active {
  background: #022241;
}

/* line 2, ../../sass/partials/_header.scss */
.splash {
  margin-top: 25px;
  background: #e3e3e3;
  color: black;
  padding: 30px;
}

/* line 9, ../../sass/partials/_header.scss */
header {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33a6e8), color-stop(60%, #1993d9), color-stop(100%, #1787c7));
  background-image: -webkit-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -moz-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -o-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
}
/* line 13, ../../sass/partials/_header.scss */
header h1, header h2, header h3, header h4, header h5, header h6 {
  font-weight: lighter;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 17, ../../sass/partials/_header.scss */
.mobile header h1, .mobile header h2, .mobile header h3, .mobile header h4, .mobile header h5, .mobile header h6 {
  margin: 8px;
}
/* line 21, ../../sass/partials/_header.scss */
.mobile header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 3, ../../sass/partials/_content.scss */
.content {
  margin: 10px;
  padding: 10px;
}

/* line 10, ../../sass/partials/_buttons.scss */
.pure-button-default,
.pure-button,
.pure-button-info,
.pure-button-success,
.pure-button-danger,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 15, ../../sass/partials/_buttons.scss */
.pure-button-default {
  color: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(60%, #e6e6e6), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#fafafa, #e6e6e6 60%, #dcdcdc);
  background-image: -moz-linear-gradient(#fafafa, #e6e6e6 60%, #dcdcdc);
  background-image: -o-linear-gradient(#fafafa, #e6e6e6 60%, #dcdcdc);
  background-image: linear-gradient(#fafafa, #e6e6e6 60%, #dcdcdc);
}
/* line 18, ../../sass/partials/_buttons.scss */
.pure-button-default:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(60%, #e6e6e6), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#dcdcdc, #e6e6e6 60%, #fafafa);
  background-image: -moz-linear-gradient(#dcdcdc, #e6e6e6 60%, #fafafa);
  background-image: -o-linear-gradient(#dcdcdc, #e6e6e6 60%, #fafafa);
  background-image: linear-gradient(#dcdcdc, #e6e6e6 60%, #fafafa);
}

/* line 22, ../../sass/partials/_buttons.scss */
.pure-button-primary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33a6e8), color-stop(60%, #1993d9), color-stop(100%, #1787c7));
  background-image: -webkit-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -moz-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: -o-linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
  background-image: linear-gradient(#33a6e8, #1993d9 60%, #1787c7);
}
/* line 24, ../../sass/partials/_buttons.scss */
.pure-button-primary:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1787c7), color-stop(60%, #1993d9), color-stop(100%, #33a6e8));
  background-image: -webkit-linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
  background-image: -moz-linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
  background-image: -o-linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
  background-image: linear-gradient(#1787c7, #1993d9 60%, #33a6e8);
}

/* line 28, ../../sass/partials/_buttons.scss */
.pure-button-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04519b), color-stop(60%, #033c73), color-stop(100%, #02325f));
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -moz-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
}
/* line 30, ../../sass/partials/_buttons.scss */
.pure-button-info:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #02325f), color-stop(60%, #033c73), color-stop(100%, #04519b));
  background-image: -webkit-linear-gradient(#02325f, #033c73 60%, #04519b);
  background-image: -moz-linear-gradient(#02325f, #033c73 60%, #04519b);
  background-image: -o-linear-gradient(#02325f, #033c73 60%, #04519b);
  background-image: linear-gradient(#02325f, #033c73 60%, #04519b);
}

/* line 34, ../../sass/partials/_buttons.scss */
.pure-button-success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #88c149), color-stop(60%, #73a839), color-stop(100%, #699934));
  background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -moz-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: linear-gradient(#88c149, #73a839 60%, #699934);
}
/* line 36, ../../sass/partials/_buttons.scss */
.pure-button-success:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #699934), color-stop(60%, #73a839), color-stop(100%, #88c149));
  background-image: -webkit-linear-gradient(#699934, #73a839 60%, #88c149);
  background-image: -moz-linear-gradient(#699934, #73a839 60%, #88c149);
  background-image: -o-linear-gradient(#699934, #73a839 60%, #88c149);
  background-image: linear-gradient(#699934, #73a839 60%, #88c149);
}

/* line 41, ../../sass/partials/_buttons.scss */
.pure-button-danger {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e12b31), color-stop(60%, #c71c22), color-stop(100%, #b5191f));
  background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -moz-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
}
/* line 43, ../../sass/partials/_buttons.scss */
.pure-button-danger:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5191f), color-stop(60%, #c71c22), color-stop(100%, #e12b31));
  background-image: -webkit-linear-gradient(#b5191f, #c71c22 60%, #e12b31);
  background-image: -moz-linear-gradient(#b5191f, #c71c22 60%, #e12b31);
  background-image: -o-linear-gradient(#b5191f, #c71c22 60%, #e12b31);
  background-image: linear-gradient(#b5191f, #c71c22 60%, #e12b31);
}

/* line 48, ../../sass/partials/_buttons.scss */
.pure-button-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6707), color-stop(60%, #dd5600), color-stop(100%, #c94e00));
  background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -moz-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
}
/* line 50, ../../sass/partials/_buttons.scss */
.pure-button-warning:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c94e00), color-stop(60%, #dd5600), color-stop(100%, #ff6707));
  background-image: -webkit-linear-gradient(#c94e00, #dd5600 60%, #ff6707);
  background-image: -moz-linear-gradient(#c94e00, #dd5600 60%, #ff6707);
  background-image: -o-linear-gradient(#c94e00, #dd5600 60%, #ff6707);
  background-image: linear-gradient(#c94e00, #dd5600 60%, #ff6707);
}

/* line 55, ../../sass/partials/_buttons.scss */
.pure-button-secondary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65c5e3), color-stop(60%, #42b8dd), color-stop(100%, #31b2da));
  background-image: -webkit-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: -moz-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: -o-linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
  background-image: linear-gradient(#65c5e3, #42b8dd 60%, #31b2da);
}
/* line 57, ../../sass/partials/_buttons.scss */
.pure-button-secondary:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #31b2da), color-stop(60%, #42b8dd), color-stop(100%, #65c5e3));
  background-image: -webkit-linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
  background-image: -moz-linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
  background-image: -o-linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
  background-image: linear-gradient(#31b2da, #42b8dd 60%, #65c5e3);
}

/* line 1, ../../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #1993d9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 2, ../../sass/modules/_spinner.scss */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

/* line 10, ../../sass/modules/_spinner.scss */
.spinner > div {
  background-color: #1993d9;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

/* line 20, ../../sass/modules/_spinner.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 25, ../../sass/modules/_spinner.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 30, ../../sass/modules/_spinner.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 35, ../../sass/modules/_spinner.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  /* line 41, ../../sass/modules/_spinner.scss */
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  /* line 42, ../../sass/modules/_spinner.scss */
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  /* line 46, ../../sass/modules/_spinner.scss */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  /* line 49, ../../sass/modules/_spinner.scss */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* line 11, ../../sass/style.scss */
.content {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 50px;
}
/* line 15, ../../sass/style.scss */
.content h1 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 18, ../../sass/style.scss */
.content h2 {
  color: #4b4b4b;
  margin: 50px 0 20px 0;
  font-weight: bold;
}
/* line 23, ../../sass/style.scss */
.content p {
  line-height: 1.6em;
  font-size: 115%;
}

@media (max-width: 767px) {
  /* line 29, ../../sass/style.scss */
  #headerMenu {
    position: relative;
  }

  /* line 32, ../../sass/style.scss */
  #headerMenu ul {
    text-align: center;
  }

  /* line 35, ../../sass/style.scss */
  #headerMenu a {
    font-size: 80%;
  }

  /* line 39, ../../sass/style.scss */
  .content {
    width: 95%;
  }
}
