@import "compass";

$primary: #1993d9;
$primary-dark: #178acc;
$success: #73a839;
$info: #033c73;
$warning: #dd5600;
$danger: #c71c22; 
$secondary: rgb(66, 184, 221);

$light: #ffffff;
$dark: #000000;
$splash: #E3E3E3;

$default: #E6E6E6;

$inverse: $info;
$inverse-dark: #022241;